.navbar {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  .containerNavbar {
    background-color: #fbfbfb;
    width: 1300px;
    height: 70px;
    border-radius: 100px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .ulNavbar,
    .ulPerfil,
    .logo {
      display: flex;
      list-style: none;
      align-items: center;
      cursor: pointer;
    }

    .ulNavbar {
      width: 30%;
      justify-content: space-between;
      font-weight: 600;
    }

    .ulPerfil {
      width: 6%;

      justify-content: space-between;

      .liPerfil {
        width: 100%;

        .logoPerson {
          color: black;
        }
      }
    }
  }
}
