.navbar {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  .containerNavbar {
    background-color: #fbfbfb;
    width: 1263px;
    height: 55px;
    border-radius: 100px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;

    .imgLogo {
      cursor: pointer;
    }
    .ulNavbar,
    .ulPerfil,
    .logo {
      display: flex;
      list-style: none;
      align-items: center;
      cursor: pointer;
    }

    .ulNavbar {
      width: 30%;
      justify-content: space-between;
      font-weight: 400;

      .liNavbar {
        position: relative;
        font-family: "Cinzel", serif;
        font-size: 16px;
        &:hover {
          color: #93a267;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1.9px;
          background-color: #93a267;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease-in-out;
          will-change: transform;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }

    .ulPerfil {
      width: 6%;

      justify-content: space-between;

      .liPerfil {
        width: 100%;

        .lupa {
          &:hover {
            color: #93a267;
          }
        }

        .lupaAbierta {
          position: relative;
          z-index: 1;
          color: #93a267;
        }

        .logoPerson {
          color: black;
          &:hover {
            color: #93a267;
          }
        }
      }
    }
    .inputBuscarActivo {
      width: 200px;
      opacity: 1;
      transition: width 0.5s ease, opacity 0.5s ease;
      position: absolute;
      top: 31%;
      right: 5.5%;
      height: 1.6rem;
      padding: 0.5rem;
      border-radius: 20px;
      border: 1px solid #93a267;
      outline: none;
    }

    .inputBuscar {
      width: 0;
      opacity: 0;
      transition: width 0.5s ease, opacity 0.5s ease;
      position: absolute;
      top: 31%;
      right: 5.5%;
      height: 1.6rem;
      padding: 0.5rem;
      border-radius: 20px;
      border: 1px solid #93a267;
      outline: none;
      overflow: hidden;
    }
  }

  .containerMovil {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .navbar {
    .containerNavbar {
      width: 1125px;

      .ulNavbar {
        width: 37%;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    .containerNavbar {
      width: 990px;

      .ulNavbar {
        width: 43%;
        transition: all 0.3s ease-out;
        &.corrido {
          margin-right: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    .containerNavbar {
      width: 800px;

      .ulPerfil {
        .liPerfil {
          &.liLupa {
            margin-right: 0.5rem;
          }
        }
      }

      .ulNavbar {
        width: 43%;
        transition: all 0.3s ease-out;
        &.corrido {
          margin-right: 8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .containerNavbar {
    display: none !important;
  }

  .containerMovil {
    display: block !important;

    .contenedorElementos {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      position: relative;
      box-shadow: 0px 16px 12px -9px rgb(110 73 73 / 20%);
      -moz-box-shadow: 0px 16px 12px -9px rgb(110 73 73 / 20%);
      -webkit-box-shadow: 0px 16px 12px -9px rgb(110 73 73 / 20%);
      height: 83px;

      .menuNav {
        width: 7%;

        &:hover {
          cursor: pointer;
          color: #93a267;
        }
      }
      .imgLogo {
        margin-left: 2rem;
        width: 20%;
        height: 81px;
      }

      .imgLogoCorrido {
        width: 20%;
        height: 81px;
      }

      .ulPerfilMovil {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        width: 6%;
        padding-right: 0.5rem;

        .liPerfilMovil {
          &:hover {
            color: #93a267;
            cursor: pointer;
          }
          &.movilLupa {
            padding-right: 0.5rem;
            z-index: 1;
          }

          .lupaAbierta {
            position: relative;
            z-index: 1;
            color: #93a267;
          }
        }
      }

      .inputBuscarMovil {
        width: 0;
        opacity: 0;
        transition: width 0.5s ease, opacity 0.5s ease;
        position: absolute;
        top: 30%;
        right: 5.3%;
        height: 1.6rem;
        padding: 0.5rem;
        border-radius: 20px;
        border: 1px solid #93a267;
        outline: none;
        overflow: hidden;
      }

      .inputBuscarActivoMovil {
        position: absolute;
        width: 200px;
        opacity: 1;
        transition: width 0.5s ease, opacity 0.5s ease;
        position: absolute;
        top: 30%;
        right: 5.3%;
        height: 1.6rem;
        padding: 0.5rem;
        border-radius: 20px;
        border: 1px solid #93a267;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .containerMovil .contenedorElementos {
    .inputBuscarMovil {
      top: 31%;
    }
    .inputBuscarActivoMovil {
      top: 31%;
      width: 170px;
    }
  }
}

@media screen and (max-width: 600px) {
  .containerMovil {
    .contenedorElementos {
      .imgLogoCorrido {
        width: 25%;
        height: 50px;
        margin-right: 9.5rem;
        transition: 0.3s all;
      }
      .imgLogo {
        width: 27%;
        height: 61px;
        transition: 0.3s all;
      }

      .ulPerfilMovil {
        width: auto;
        padding-right: 0;
      }

      .inputBuscarMovil {
        right: 11%;
      }

      .inputBuscarActivoMovil {
        right: 11%;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .containerMovil .contenedorElementos {
    .imgLogoCorrido {
      display: none;
    }

    .inputBuscarMovil {
      right: 12%;
    }
    .inputBuscarActivoMovil {
      right: 12%;
    }
  }
}

@media screen and (max-width: 320px) {
  .containerMovil .contenedorElementos {
    .menuNav {
      width: 29px;
      height: 29px;
    }
    .imgLogo {
      width: 36%;
      margin: 0;
    }

    .inputBuscarMovil {
      right: 14%;
    }
    .inputBuscarActivoMovil {
      right: 14%;
    }
  }
}
