.top {
  min-height: 800px;
  height: 86vh;
  background-image: url("../../../public/img/p44.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  .containerImg {
    margin-top: 5rem;
    position: relative;
    width: 35%;

    .imgPrinci {
      height: 891px;
      position: absolute;
      bottom: 10%;
      left: 14%;
    }
  }

  .containerTitle {
    position: relative;
    width: 100%;

    .titleImpresa {
      position: absolute;
      top: 15%;
      left: 51%;
      font-size: 12rem;
      padding-left: 2rem;
      color: rgb(150, 150, 150);
      opacity: 0.1;
      font-weight: 400;
      font-family: "Times New Roman", Times, serif;
    }

    .titleCursiva {
      font-family: "Cinzel", serif;
      position: absolute;
      top: 31%;
      left: 61%;
      font-size: 4rem;
      color: rgb(112, 102, 102);
    }

    .titlePrincipal {
      font-family: "Cinzel", serif;
      position: absolute;
      top: 45%;
      left: 53%;
      font-size: 5rem;
      color: rgb(112, 102, 102);
    }

    .btn {
      position: absolute;
      top: 57%;
      right: 29%;
      width: 12rem;
      height: 3.5rem;
      border: none;
      color: white;
      font-weight: 700;
      font-size: 15px;
      font-family: "Cinzel", serif;
      cursor: pointer;
      transition: background 1s;
      background: linear-gradient(90deg, #93a267 50%, rgb(121, 160, 63) 50%);
      background-size: 200% 100%;
      background-position: right bottom;

      &:hover {
        background-position: left bottom;
      }
    }
  }
}
