.footer {
  margin-top: 39rem;
  position: relative;
  .unite {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #e3ece6;
    height: 155px;
    padding-left: 3rem;
    .titleUnite {
      color: #3a3a3a;
      font-family: "Cinzel", serif;
      font-size: 2rem;
    }

    .textoUnite {
      font-size: 13px;
      max-width: 65%;
      font-family: "Cinzel", serif;
    }
  }

  .containerInput {
    position: absolute;
    right: 10%;

    .input {
      height: 52px;
      width: 300px;
      padding-left: 1rem;
      color: rgb(112, 102, 102);
      border-radius: 50px;
      border: 1px solid #5c5c5cb3;

      &:focus {
        outline: 1px solid #5c5c5cb3;
        border: none;
      }
    }
    .boton {
      margin-left: 2rem;
      border: none;
      height: 52px;
      width: 133px;
      background: #3a3a3a;
      color: white;
      cursor: pointer;

      &:hover {
        border-radius: 50px;
        transition: all 0.9s;
      }
    }
  }

  .menus {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    .menu,
    .experiencia {
      list-style: none;

      .subTitleLi {
        font-weight: 700;
        font-size: 17px;
        margin-bottom: 0.5rem;
        font-family: "Cinzel", serif;
      }
    }

    .menu {
      .linav {
        margin-bottom: 0.5rem;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: rgb(150, 150, 150);
          transition: color 0.3s ease-in-out;
        }
      }
    }

    .experiencia {
      .liExperiencia {
        margin-bottom: 0.5rem;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          color: rgb(150, 150, 150);
          transition: color 0.3s ease-in-out;
        }
      }
    }

    .redes {
      width: 29%;

      .logosRedes {
        margin-bottom: 0.5rem;
        .logo {
          padding-right: 2rem;
          cursor: pointer;

          .logoSvg {
            width: 30px;
            height: 30px;
            color: #3a3a3a;

            &:hover {
              color: rgb(150, 150, 150);
              transition: color 0.3s ease-in-out;
            }
          }
        }
      }

      .infoPag {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    .unite .titleUnite {
      font-size: 1.7rem;
    }

    .menus {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    position: relative;
    .unite {
      padding-left: 2rem;
    }

    .containerInput {
      right: 2%;
    }

    .menus .redes {
      width: 34%;

      .infoPag {
        padding-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .footer .containerInput {
    .input {
      width: 269px;
    }
    .boton {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    .unite {
      padding-left: 1rem;
    }

    .containerTexto {
      position: absolute;
      top: 13%;
    }

    .containerInput {
      bottom: 6%;

      .input {
        width: 247px;
      }

      .boton {
        width: 120px;
      }
    }

    .menus .redes {
      width: 39%;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    .unite {
      height: 154px;

      .textoUnite {
        font-size: 12px;
      }
    }
    .containerInput {
      .input {
        width: 234px;
        height: 44px;
      }

      .boton {
        height: 44px;
      }
    }

    .menus {
      justify-content: space-evenly;
      margin-bottom: 1rem;
      .redes {
        text-align: center;
        .infoPag {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .unite {
      padding-left: 0.5rem;
    }
    .menus .redes .logosRedes .logo .logoSvg {
      width: 24px;
    }
  }
}
