.containerCarrusel {
  margin-bottom: 10rem;
  width: 100%;
  height: 600px;
  background-color: rgb(251 251 251);
  position: relative;

  .carrusel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 9rem;

    .slide {
      background-color: white;
      position: relative;
      width: 19%;
      height: 328px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 14%);
      -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 14%);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 14%);
      transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
      &.activo {
        width: 25%;
        height: 405px;
        box-shadow: 0 1px 20px 2px rgb(47 74 5 / 32%);
        -moz-box-shadow: 0 1px 20px 2px rgb(47 74 5 / 32%);
        -webkit-box-shadow: 0 1px 20px 2px rgb(47 74 5 / 32%);
        transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
        .imgActiva {
          width: 460px;
          height: 550px;
          right: 28%;
          bottom: 0%;
          filter: drop-shadow(6px 6px 4px rgba(4, 12, 1, 0.32));
          transition: width 0.5s ease, height 0.5s ease;
        }

        .info {
          position: absolute;
          right: 10%;
          bottom: 8%;
        }
      }

      img {
        position: absolute;
        bottom: 2%;
        right: 22%;
        width: 367px;
        height: 438px;
        filter: drop-shadow(6px 6px 4px rgba(4, 12, 1, 0.32));
      }

      .info {
        position: absolute;
        right: 5%;
        bottom: 10%;

        .name {
          font-weight: 600;
          padding-right: 1rem;

          &.musa {
            padding-right: 2rem;
          }
        }

        .btnCarrusel {
          border: none;
          background-color: transparent;
          color: rgb(121, 160, 63);
          font-size: 14px;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            .flechaBtn {
              transform: rotate(90deg);
              transition: transform 0.4s;
              transition: transform 0.4s;
            }
          }
        }
      }

      &:last-child {
        display: none;
      }
    }
  }

  .flechaIzquierda,
  .flechaDerecha {
    position: absolute;
    top: 50%;
    z-index: 1;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(121, 160, 63);
    }
  }

  .flechaIzquierda {
    left: 1%;
  }

  .flechaDerecha {
    right: 1%;
  }
}
